[submodule "axios-bz"]
	path = axios-bz
	url = https://github.com/QC2168/axios-bz
[submodule "useCharts"]
	path = useCharts
	url = https://github.com/QC2168/useCharts
[submodule "useDialog"]
	path = useDialog
	url = https://github.com/QC2168/useDialog
